.fenext-input {
    &-label {
        font-family: var(--fenext-font-global);
        font-size: 1rem;
        font-weight: 800;
        line-height: 1.36;
        text-align: left;
        color: var(--fenext-color-dark);
        &:empty {
            display: none;
        }
    }
    &-optional {
        margin-left: 0.5rem;
        font-size: 0.75em;
        color: color-mix(in srgb, currentColor 50%, #fff 0%);
    }
    &-required {
        margin-left: 0.5rem;
        font-size: 0.75em;
        color: color-mix(in srgb, currentColor 50%, #fff 0%);
    }
    &-validator-status-error {
        box-shadow: var(--box-shadow);
    }
    &-content {
        $classContent: &;
        position: relative;
        --box-shadow-size: 2px;
        --box-shadow-color: var(--fenext-color-light);
        --box-shadow-color-error: var(--fenext-color-danger);
        --box-shadow-color-target: var(--fenext-color-secondary);
        --box-shadow:inset 0px 0px 0px var(--box-shadow-size) var(--box-shadow-color);
        &:has(.fenext-input-validator-status-error) {
            --box-shadow-color: var(--box-shadow-color-error);
        }
        &:has(.fenext-input-content-input-show-focus-target:target) {
            --box-shadow-color: var(--box-shadow-color-target);
        }
        &-input {
            width: 100%;
            padding: 1rem 1.5rem;
            opacity: 1;
            border-radius: 0.7rem;
            border: 0;
            color: var(--fenext-color-dark);
            background-color: var(--fenext-color-light);
            font-family: var(--fenext-font-global);
            box-shadow: var(--box-shadow);
            font-size: 1rem;
            font-weight: 800;
            line-height: 1.36;
            text-align: left;
            outline: none;
            @media (max-width: 575px) {
                padding: 0.75rem 1rem;
                font-size: 0.75rem;
            }
            &-show-focus-target {
                &:target {
                    box-shadow: var(--box-shadow);
                }
            }
            &::placeholder {
                color: color-mix(in srgb, currentColor 50%, #fff 0%);
            }
            &:focus {
                box-shadow: var(--box-shadow);
            }
            &:disabled {
                opacity: 0.5;
            }
            &[type="textarea"] {
                min-height: 5rem;
                resize: vertical;
            }
            &-max-leght {
                position: absolute;
                right: 1rem;
                bottom: 0.5rem;
                font-family: var(--fenext-font-global);
                font-size: 0.75rem;
                font-weight: 300;
                line-height: 1;
                color: var(--fenext-color-light);
            }
            &[type="number"] {
                -moz-appearance: textfield;
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }
        }
        &-icon {
            position: absolute;
            right: 1.5rem;
            color: var(--fenext-color-dark);
            top: 0;
            bottom: 0;
            margin: auto;
            display: flex;
            align-items: center;
            cursor: pointer;
            @media (max-width: 575px) {
                right: 0.75rem;
            }

            svg {
                width: 1rem;
            }
        }
        &-loader {
            position: absolute;
            right: 1.5rem;
            color: var(--fenext-color-dark);
            top: 0;
            bottom: 0;
            margin: auto;
            display: flex;
            align-items: center;
        }
        &:has(#{$classContent}-loader) {
            #{$classContent}-icon {
                display: none;
            }
        }
    }
    &-icon-pos-left {
        .fenext-input-content {
            &-input {
                padding-left: 3.3rem;
            }
            &-icon {
                right: inherit;
                left: 1.5rem;
            }
        }
    }
}
.fenext-input-error.fenext-input-error {
    text-align: right;
    color: var(--fenext-color-danger);
    background-color: transparent;
    margin-bottom: 0;
    .fenext-error-input {
        display: none;
    }
}
