.fenext-collapse {
    $className: &;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 0px;
    --transition: 0.1s;
    transition: var(--transition);
    box-shadow: var(--box-shadow);
    --box-shadow-color: transparent;
    --box-shadow: 0px 0px 0px 2px var(--box-shadow-color);
    &-status {
        &-error {
            --box-shadow-color: var(--fenext-color-red);
        }
        &-ok {
            --box-shadow-color: var(--fenext-color-primary);
        }
    }
    @mixin fenext-collapse-active-csc {
        grid-template-rows: auto auto;
        &.fenext-collapse-rotate-icon-yes {
            > .fenext-collapse-header {
                .fenext-collapse-header-icon {
                    transform: rotateZ(180deg);
                }
            }
        }
        > .fenext-collapse-header {
            .fenext-collapse-header-uncheck {
                display: block;
            }
        }
        > .fenext-collapse-body {
            transform: scaleY(1);
        }
    }

    &-checked {
        &:has(
                > .fenext-collapse-header
                    > .fenext-collapse-header-checkbox:checked
            ) {
            @include fenext-collapse-active-csc;
        }
    }
    &-focus {
        &:has(
                > .fenext-collapse-header
                    > .fenext-collapse-header-checkbox:focus
            ),
        &:has(> .fenext-collapse-body:hover) {
            @include fenext-collapse-active-csc;
        }
        @media (max-width: 767px) {
            &:has(
                    > .fenext-collapse-header
                        > .fenext-collapse-header-checkbox:hover
                ) {
                @include fenext-collapse-active-csc;
            }
        }
    }
    &-header {
        display: block;
        padding: 1rem;
        font-family: var(--fenext-font-global);
        font-size: 1rem;
        font-weight: 900;
        line-height: 1;
        cursor: pointer;
        position: relative;
        background-color: var(--fenext-color-light);
        color: var(--fenext-color-dark);
        border-radius: .25rem;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr auto;
        gap: 1rem;

        &-checkbox {
            width: 0;
            height: 0;
            position: absolute;
            inset: 0;
            opacity: 0;
            scale: 0;
        }
        &-uncheck {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            display: none;
        }
        &-content {
        }
        &-icon {
            transition: 0.25s;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                width: 1rem;
            }
        }
    }
    &-body {
        transition: var(--transition);
        transform: scaleY(0);
        transform-origin: center top;

        padding: 1rem;
        font-family: var(--fenext-font-global);
        color: var(--fenext-color-dark);
        font-size: 1rem;
        &:has(.fenext-collapse) {
            padding: 0;
        }
    }
    &:not(.fenext-collapse-active-for-show-children):has(
            > .fenext-collapse-body:empty
        ) {
        > .fenext-collapse-header {
            .fenext-collapse-header-icon {
                display: none;
            }
        }
    }
    &:has(> .fenext-collapse-body:empty) {
        > .fenext-collapse-body {
            display: none;
        }
    }
}
