.fenext-input-google-autocomplete {
    $className: &;
    &-close {
        display: none;
        align-items: center;
        color: var(--fenext-color-dark);
        background: transparent;
        padding: 1rem 1.5rem;
        border: 0;
        svg {
            width: 1rem;
        }
    }
    &-content {
        &-input {
        }
    }

    @media (max-width: 767px) {
        &:has(.fenext-input-content-input:focus) {
            position: fixed;
            z-index: var(--fenext-z-index-modal);
            background: var(--fenext-color-white);
            inset: 0;
            width: 100%;
            height: 100%;
            padding: 1rem;
            #{$className} {
                &-content {
                    display: grid;
                    grid-template-columns: 1fr auto;
                    &-input {
                    }
                }
                &-close {
                    display: flex;
                }
            }
        }
    }
}

body {
    @media (max-width: 575px) {
        &:has(.fenext-input-google-autocomplete-clear:hover),
        &:has(.fenext-input-google-autocomplete-clear:focus),
        &:has(.fenext-input-google-autocomplete-option:hover),
        &:has(
                .fenext-input-google-autocomplete
                    .fenext-input-content-input:focus
            ) {
            &:not(
                    :has(.fenext-input-google-autocomplete-checkbox-close:focus)
                ) {
                .fenext-modal-base-close {
                    display: none;
                }
            }
        }
    }
}
body:not(:has(.fenext-layout-grid-mt-menu-top)) {
    .fenext-input-google-autocomplete {
        --fenext-size-menu-top: 0px;
    }
}

@media (max-width: 575px) {
    body:has(
            .fenext-input-google-autocomplete
                .fenext-input-google-autocomplete-clear:focus
        ),
    body:has(
            .fenext-input-google-autocomplete
                .fenext-input-google-autocomplete-clear:hover
        ),
    body:has(
            .fenext-input-google-autocomplete .fenext-input-content-input:focus
        ),
    body:has(
            .fenext-input-google-autocomplete
                .fenext-input-google-autocomplete-option:hover
        ) {
        &:not(:has(.fenext-input-google-autocomplete-checkbox-close:focus)) {
            *:not(
                    :has(
                            .fenext-input-google-autocomplete
                                .fenext-input-google-autocomplete-clear:focus
                        )
                ),
            *:not(
                    :has(
                            .fenext-input-google-autocomplete
                                .fenext-input-google-autocomplete-clear:hover
                        )
                ),
            *:not(
                    :has(
                            .fenext-input-google-autocomplete
                                .fenext-input-content-input:focus
                        )
                ),
            *:not(
                    :has(
                            .fenext-input-google-autocomplete
                                .fenext-input-google-autocomplete-option:hover
                        )
                ) {
                &:not(
                        :has(
                                .fenext-input-google-autocomplete-checkbox-close:focus
                            )
                    ) {
                    &:not([class*="fenext-input-google-autocomplete"]) {
                        &:not(
                                :has(
                                        [class*="fenext-input-google-autocomplete"]
                                    )
                            ) {
                            z-index: -1 !important;
                            transition: 0s;
                        }
                    }
                }
            }
        }
    }
    *:has(
            .fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete
                .fenext-input-google-autocomplete-clear:focus
        ),
    *:has(
            .fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete
                .fenext-input-google-autocomplete-clear:hover
        ),
    *:has(
            .fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete
                .fenext-input-content-input:focus
        ),
    *:has(
            .fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete
                .fenext-input-google-autocomplete-option:hover
        ) {
        &:not(:has(.fenext-input-google-autocomplete-checkbox-close:focus)) {
            z-index: var(--fenext-z-index-modal) !important;
            position: absolute !important;
            overflow: visible !important;
            transform: none !important;
            transition: 0s !important;
            inset: 0 !important;
            width: 100vw;
            height: 100dvh;
            container-type: initial !important;
            padding: 0 !important;
            transition: 0s;
        }
    }

    .fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete:has(
            .fenext-input-google-autocomplete-clear:hover
        ),
    .fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete:has(
            .fenext-input-google-autocomplete-clear:focus
        ),
    .fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete:has(
            .fenext-input-content-input:focus
        ),
    .fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete.fenext-input-google-autocomplete:has(
            .fenext-input-google-autocomplete-option:hover
        ) {
        &:not(:has(.fenext-input-google-autocomplete-checkbox-close:focus)) {
            z-index: var(--fenext-z-index-modal) !important;
            transition: 0s;
        }
    }
}

.pac-container.pac-logo.hdpi.hdpi.hdpi.hdpi.hdpi.hdpi.hdpi.hdpi.hdpi.hdpi.hdpi.hdpi.hdpi.hdpi.hdpi.hdpi.hdpi.hdpi.hdpi {
    z-index: var(--fenext-z-index-modal) !important;
}
