.fenext-table-actions-checkbox {
    padding: 0.5rem 1rem;
    background-color: var(--fenext-color-light);
    color: var(--fenext-color-dark);
    border-radius: 0.5rem;
    font-family: var(--fenext-font-global);
    width: auto;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

    &-action {
        cursor: pointer;
        display: flex;
        align-items: center;
    }
}
