.fenext-notification {
    width: 100%;
    padding: 0.5rem 1rem;
    font-family: var(--fenext-font-global);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    position: sticky;
    top: 0;
    --fenext-notification-color: var(--fenext-color-dark);
    --fenext-notification-background: var(--fenext-color-light);
    color: var(--fenext-notification-color);
    background: var(--fenext-notification-background);
    &-OK {
        --fenext-notification-color: var(--fenext-color-light);
        --fenext-notification-background: var(--fenext-color-success);
    }
    &-ERROR {
        --fenext-notification-color: var(--fenext-color-light);
        --fenext-notification-background: var(--fenext-color-danger);
    }
    &-NORMAL {
        --fenext-notification-color: var(--fenext-color-dark);
        --fenext-notification-background: var(--fenext-color-light);
    }
    &-WARNING {
        --fenext-notification-color: var(--fenext-color-theme-light-dark);
        --fenext-notification-background: var(--fenext-color-warning);
    }
    &-close {
        position: absolute;
        width: 0.75rem;
        top: 0;
        right: 1rem;
        bottom: 0;
        margin: auto;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
}
