::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}
::-webkit-scrollbar-track {
    background-color: var(--fenext-color-light, white);
}
::-webkit-scrollbar-thumb {
    background-color: var(--fenext-color-primary, gray);
    border-radius: 1rem;
    cursor: pointer;
}
* {
    scroll-behavior: smooth;
}
