.fenext-chronometer {
    text-align: center;
    padding: 1rem 1.5rem;
    border-radius: 0.7rem;
    background-color: var(--fenext-color-dark);
    font-family: var(--fenext-font-global);
    font-size: 1rem;
    font-weight: 800;
    line-height: 1.36;
    letter-spacing: 4px;
    color: var(--fenext-color-light);
}
