.fenext-design-box {
    --together-color:var(--fenext-color-black);
    --together-active-color:var(--fenext-color-blue);
    &-content {
        display: grid;
        gap: 1rem;
        .fenext-input-color-input {
            height: 2.36rem;
        }
        .fenext-input-content-input {
            padding: 0.5rem 1rem;
        }
        &-example {
            &,
            * {
                white-space: nowrap;
                overflow: hidden;
                max-width: 100%;
                display: block;
                text-overflow: ellipsis;
            }
        }
    }
    &-item {
        display: grid;
        grid-template-columns: 1fr 8rem auto;
        gap: 1rem;
        align-items: center;
        &-together{
            grid-template: 1fr;
            .fenext-input-checkbox-box  {
                position: fixed;
                scale: 0;
            }
            .fenext_svg {
                width: 2rem;
                color: var(--together-color);
            }
            &:has(.fenext-input-checkbox-input:checked){
                --together-color:var(--together-active-color);
            }
        }
        &-1-2{
            grid-template-columns: 1fr auto;
        }
        &-2 {
            grid-template-columns: 1fr 1fr;
            grid-column: 1/-1;
        }
        &-4 {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column: 1/-1;
        }
    }
}
