.fenext-menu-item {
    --box-shadow-normal: none;
    --box-shadow-active: none;
    --box-shadow-hover: none;
    --box-shadow: var(--box-shadow-normal);

    --background-normal: var(--fenext-color-light);
    --background-active: var(--fenext-color-primary);
    --background-hover: var(--fenext-color-primary);
    --background: var(--background-normal);

    --color-normal: var(--fenext-color-primary);
    --color-active: var(--fenext-color-light);
    --color-hover: var(--fenext-color-light);
    --color: var(--color-normal);
    --size-icon: 1.2rem;
    &-a {
        font-family: var(--fenext-font-global);
        font-size: 1rem;
        font-weight: 900;
        line-height: 1;
        text-decoration: none;
        display: grid;
        align-items: center;
        grid-template-columns: var(--size-icon) 1fr;
        gap: 0.5rem;
        color: var(--color);
        background: var(--background);
        box-shadow: var(--box-shadow);
        &-text{
            color: var(--color);
        }
        &-icon {
            width: 100%;
            color: currentColor;
            svg {
                color: currentColor;
                fill: currentColor;
            }
            &:empty {
                display: none;
            }
        }
        &:has(&-icon:empty) {
            grid-template-columns: 1fr;
        }
        &-active {
            --color: var(--color-active);
            --background: var(--background-active);
            --box-shadow: var(--box-shadow-active);
            @at-root *:has(> .fenext-menu-item .fenext-collapse-header &) {
                @for $i from 1 through 10 {
                    &:has(.fenext-menu-item-a-url-inter-#{11 - $i}) {
                        @for $j from 1 through $i {
                            .fenext-menu-item-a-url-inter-#{11 - $i - $j} {
                                --color: var(--color-normal);
                                --background: var(--background-normal);
                                --box-shadow: var(--box-shadow-normal);
                            }
                        }
                    }
                }
            }
        }
        &-text {
        }
        &:hover {
            --color: var(--color-hover);
            --background: var(--background-hover);
            --box-shadow: var(--box-shadow-hover);
        }
    }
    &:has(> .fenext-collapse > .fenext-collapse-body:empty) {
        > .fenext-collapse {
            > .fenext-collapse-header {
                padding: 0;
                display: block;
                .fenext-menu-item-a {
                    padding: 1rem;
                    width: 100%;
                }
            }
        }
    }
    .fenext-menu-item {
        padding-left: 1rem;
    }
}
