.fenext-dropdown {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    font-family: var(--fenext-font-global);
    font-size: 1rem;
    font-weight: 900;
    line-height: 1;
    cursor: pointer;
    background-color: var(--fenext-color-light);
    color: var(--fenext-color-dark);
    border-radius: 0.75rem;

    --icon-rotate: 0deg;

    &-header {
        &-icon {
            width: 1rem;
            display: flex;
            align-items: center;
            transition: 0.25s;
            transform: rotateZ(var(--icon-rotate, 0deg));
        }
    }
    &-active {
        --icon-rotate: 180deg;
    }
    &-rotate-icon-no {
        --icon-rotate: 0deg;
    }
    &-body {
        --time: 0.25s;
        padding: 1rem;
        font-family: var(--fenext-font-global);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1;
        background-color: var(--fenext-color-white);
        box-shadow: 0 0 2px 0 var(--fenext-color-gray);
        color: var(--fenext-color-dark);
        border-radius: 0.75rem;
        transition: opacity var(--time);

        position: fixed;
        top: var(--fenext-dropdown-top, inherit);
        left: var(--fenext-dropdown-left, inherit);
        right: var(--fenext-dropdown-right, inherit);
        bottom: var(--fenext-dropdown-bottom, inherit);
        opacity: 0;
        scale: 0;
        z-index: var(--fenext-z-index-select-option);

        max-width: calc(
            100dvw - 1rem - calc(1 * var(--fenext-dropdown-left, 0px)) - calc(
                    1 * var(--fenext-dropdown-right, 0px)
                )
        );

        margin-block: 0.5rem;

        @keyframes fenext-dropdown-animation-active {
            0% {
                opacity: 0;
                scale: 0;
            }
            1% {
                opacity: 0;
                scale: 1;
            }
            100% {
                opacity: 1;
                scale: 1;
            }
        }
        @keyframes fenext-dropdown-animation-inactive {
            0% {
                opacity: 1;
                scale: 1;
            }
            99% {
                opacity: 0;
                scale: 1;
            }
            100% {
                opacity: 0;
                scale: 0;
            }
        }

        &-active {
            animation: fenext-dropdown-animation-active var(--time) forwards;
        }
        &-inactive {
            animation: fenext-dropdown-animation-inactive var(--time) forwards;
        }
        &-no-change {
            --time: 0s;
        }
    }
}
