.fenext-input-scanner-qr {
    .fenext-modal-base-close,
    .fenext-btn {
        padding: 0.5rem;
        border-radius: 0.3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        svg {
            width: 1.5rem;
            max-height: 1.5rem;
        }
    }
    .fenext-modal-base-close {
        top: 1.5rem;
        right: 1.5rem;
        border-radius: 100%;
    }
    &-btn {
        &-scanner {
        }
        &-change-camera {
            position: fixed;
            bottom: 1.5rem;
            right: 1.5rem;
            &.fenext-btn {
                border-radius: 100%;
            }
        }
        &-flash {
            position: fixed;
            bottom: 1.5rem;
            left: 1.5rem;
            &.fenext-btn {
                border-radius: 100%;
            }
        }
    }
    .fenext-modal-base {
        overflow: hidden;
        &-content {
            padding: 0;
        }
    }
    &-video {
        width: 100dvw;
        height: 100dvh;
    }
}
