.fenext-select-multiple {
    &-list {
        display: flex;
        padding: 1rem 0;
        gap: 1rem;
        flex-wrap: wrap;
        grid-column: 1/-1;
        order: 9;
        &:empty {
            display: none;
        }
    }
    --display-list-empty: none;
    .fenext-select-list-options {
        &:empty {
            display: var(--display-list-empty) !important;
        }
        &:not(:has(.fenext-select-option-not-hidden)) {
            display: var(--display-list-empty) !important;
        }
    }
    .fenext-select-option-checkbox {
        display: none;
    }
    &-normal {
    }
    &-checkbox {
        .fenext-select-option-checkbox {
            display: grid;
        }
        .fenext-select-multiple-list {
            .fenext-select-option {
                position: relative;
                &-delete {
                    position: absolute;
                    inset: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                }
            }
        }
    }
}
