.fenext-select-multiple {
    &-list {
        display: flex;
        padding: 1rem 0;
        gap: 1rem;
        flex-wrap: wrap;
        grid-column: 1/-1;
        order: 9;
        &:empty {
            display: none;
        }
    }
    .fenext-select-list-options{
        &:empty {
            display: none !important;
        }
        &:not(:has(.fenext-select-option-not-hidden)){
            display: none !important;
        }
    }
}
