.fenext-notification-pop {
    position: fixed;
    left: 0;
    width: 100%;
    margin: auto;
    z-index: var(--fenext-z-index-notification);
    transition: 0.5s;
    transform: translateY(0%);
    &-top {
        top: 0;
        transform: translateY(-100%);
    }
    &-down {
        bottom: 0;
        transform: translateY(100%);
    }
    &-active {
        transform: translateY(0%);
    }
}
