.fenext-input {
    &-calendar {
        .fenext-collapse {
            &-header {
                padding: 0;
                background: transparent;
                grid-template-columns: 1fr;
                &-checkbox {
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                    scale: 1;
                    cursor: pointer;
                }
                &-icon {
                    display: none;
                }
            }
            &-body {
                padding-inline: 0;
            }
        }
        &-content {
        }
        &-month {
            --padding: 0.5rem;
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            width: min(100%, calc(2.5rem * 7 + calc(var(--padding) * 2)));
            padding: var(--padding);
            border-radius: var(--padding);

            color: var(--fenext-color-light);
            background-color: var(--fenext-color-dark);
            font-size: 1rem;
        }
        &-top {
            grid-column: 1 /-1;
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            &-info {
                grid-column: span 5;
                display: grid;
                place-items: center;
                text-transform: capitalize;
            }
        }
        &-days {
            grid-column: 1 /-1;
            background: var(--fenext-color-dark-light);
            border-radius: var(--padding);
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            margin-bottom: 0.5rem;
        }
        &-btn {
            cursor: pointer;
            border: 0;
            background: transparent;
            svg {
                width: 0.7em;
            }
        }
        &-day {
        }
        &-date {
            cursor: pointer;
            &-other-month {
                background: var(--fenext-color-dark-light);
                border-radius: var(--padding);

                &:has(+ .fenext-input-calendar-date-other-month) {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    + .fenext-input-calendar-date-other-month {
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                }
            }
            &-select {
                background: var(--fenext-color-info);
                border-radius: var(--padding);
                &:has(+ .fenext-input-calendar-date-select-range),
                &:has(+ .fenext-input-calendar-date-select) {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    + .fenext-input-calendar-date-select {
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                }
                &-range {
                    background: var(--fenext-color-info-dark);
                    + .fenext-input-calendar-date-select {
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                }
            }
        }
        &-btn,
        &-day,
        &-date {
            display: grid;
            place-items: center;
            aspect-ratio: 1/1;
            padding: 0.25rem;
            cursor: pointer;
        }
    }
}
