.fenext-filter-date {
    --size-clear: 3rem;
    display: grid;
    grid-template-columns: auto var(--size-clear);
    width: max-content;
    max-width: 100%;
    gap: 0.25rem;
    &-text-value{
        text-overflow: ellipsis;
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        display: block;
    }
    &-dropdown-body {
        .fenext-input-calendar {
            --size-cell: 2.2rem;
        }
    }
    &-label-swich {
        display: flex;
        gap: 0.25rem;
        align-items: center;
    }
    &-content-btn {
        margin-left: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 0.25rem;
        align-items: center;
    }
    &-content-top {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        align-items: center;
        margin-bottom: 1rem;
    }
    &:not(:has(&-clear)) {
        grid-template-columns: 1fr;
    }
    &-clear {
        height: 100%;
        aspect-ratio: 1/1;
        border-radius: 0.65rem;
        background-color: var(--fenext-color-light);
        color: var(--fenext-color-dark);
        padding: 0.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        > * {
            max-width: 100%;
            max-height: 100%;
        }
    }
}
