:root {
    --fenext-content-show-color: var(--fenext-color-dark);
    --fenext-content-show-font-family: var(--fenext-font-global);

    --fenext-content-show-hidden-display: none;
}

.fenext-content-show {
    color: var(--fenext-content-show-color);
    font-family: var(--fenext-content-show-font-family);
    &-hidden {
        display: var(--fenext-content-show-hidden-display);
    }
}
