.fenext-box {
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--fenext-color-white);
    color: var(--fenext-color-dark);
    box-shadow: 0 0 7px 0 var(--fenext-color-gray-extra-light);
    font-family: var(--fenext-font-global);
}
