.fenext-box {
    padding: 1rem;
    border-radius: 1rem;
    // background-color: var(--fenext-color-light);
    color: var(--fenext-color-dark);
    box-shadow: 0 0 5px 0 var(--fenext-color-gray);
    font-family: var(--fenext-font-global);
}
