:root{
    --fenext-box-padding: 1rem;
    --fenext-box-border-radius: 1rem;
    --fenext-box-color: var(--fenext-color-dark);
    --fenext-box-box-shadow: 0 0 5px 0 var(--fenext-color-gray);
    --fenext-box-font-family: var(--fenext-font-global);
}

.fenext-box {
    padding: var(--fenext-box-padding);
    border-radius: var(--fenext-box-border-radius);
    color: var(--fenext-box-color);
    box-shadow: var(--fenext-box-box-shadow);
    font-family: var(--fenext-font-global);
}
