.fenext-table {
    width: 100%;
    padding-bottom: 0.5rem;
    max-height: 100dvh;
    display: grid;
    grid-template-rows: 1fr auto;
    &:has(.fenext-table-content-actions) {
        grid-template-rows: auto 1fr auto;
    }
    &-content-actions {
        margin-bottom: 1rem;
    }
    &-content {
        width: 100%;
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
        overflow: auto;
        &-table {
            width: 100%;
            border-collapse: collapse;
            color: var(--fenext-color-dark);
            overflow: hidden;
            border-radius: 1rem;
            box-shadow: inset 0 0 0 2px var(--fenext-color-light);
            &-thead {
                background-color: var(--fenext-color-light);
                border-bottom: 1px solid var(--fenext-color-light);
                position: sticky;
                top: 0;
            }
            @media (min-width: 992px) {
                @for $i from 1 through 25 {
                    &:has(
                            .fenext-table-content-table-th:nth-child(#{$i})
                                .fenext-input-radio-input-id-hidden:checked
                        ) {
                        .fenext-table-content-table-th:nth-child(#{$i}),
                        .fenext-table-content-table-td:nth-child(#{$i}) {
                            font-size: 0;
                            padding-inline: 0.1rem;
                            > label {
                                gap: 0;
                            }
                        }
                    }
                }
            }
            &-checkbox {
                align-items: flex-end;
                .fenext-input-checkbox {
                    &-text {
                        display: none;
                    }
                }
            }

            &-th {
                font-family: var(--fenext-font-global);
                font-size: 1rem;
                font-weight: 800;
                line-height: 1.36;
                text-align: left;
                color: var(--fenext-color-dark);
                padding: 1.5rem 1rem;
                white-space: nowrap;
                position: relative;
                transition: 0.25s;
                cursor: pointer;
                &-arrow {
                    width: 0.5rem;
                }
                .fenext-dropdown {
                    padding: 0;
                    background-color: transparent;
                    &-header-icon {
                        svg {
                            width: 0.5rem;
                        }
                    }
                }
                &-dropdown-body {
                    box-shadow: 0 0 2px 0 var(--fenext-color-gray);
                    .fenext-input-radio {
                        padding: 0.2rem 0rem;
                        color: var(--fenext-color-dark);
                    }
                    .fenext-input-radio-text {
                        color: currentColor;
                    }
                    .fenext-content-radio {
                        gap: 0;
                    }
                }
            }
            &-tbody {
            }
            &-tr {
                // &:nth-child(2n) {
                //     background-color: var(--fenext-color-light);
                // }
                &:hover {
                    background-color: var(--fenext-color-light);
                }
            }
            &-td {
                --padding: 1rem 1rem;
                font-family: var(--fenext-font-global);
                font-size: 0.8rem;
                font-weight: 400;
                line-height: 1.36;
                text-align: left;
                border-bottom: 1px solid var(--fenext-color-light);
                padding: var(--padding);

                transition: 0.25s;

                white-space: nowrap;

                &.fenext-table-not-result {
                    border: 0;
                }
                &-label-collapse {
                    cursor: pointer;
                    padding: var(--padding);
                }
                &-collapse {
                    .fenext-collapse-header {
                        padding: 0;
                        height: 0;
                        scale: 0;
                    }
                }
                &-is-label-collapse {
                    padding: 0;
                }
                &-is-collapse {
                    padding: 0;
                }
            }
        }
        &-pagination {
            width: 100%;
            padding: 0 0.5rem;
            @media print {
                display: none;
            }
        }
    }
    &-not-result {
        grid-template-columns: 1fr;
        place-items: center;
    }
}

@mixin fenext-table-view-box {
    .fenext-table {
        grid-template-rows: auto 1fr auto;
        max-height: none;
        &::before {
            content: var(--fenext-table-name) ": ";
            font-family: var(--fenext-font-global);
            font-size: 1.3rem;
            font-weight: 800;
            line-height: 1.36;
            text-align: left;
            color: var(--fenext-color-dark);
            padding: 0.5rem 0;
        }
        &-content {
            &-table {
                border-radius: 0;
                box-shadow: none;
                &-thead {
                    display: none;
                }

                &-tbody {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                    grid-template-columns: 1fr;
                    column-gap: 1rem;
                    row-gap: 2rem;
                    align-items: flex-start;
                }
                &-tr {
                    display: grid;
                    padding: 1rem;
                    border-radius: 0.5rem;
                    background-color: var(--fenext-color-light);
                    align-items: flex-start;
                    &:hover {
                        background-color: var(--fenext-color-light);
                    }
                    &-is-collapse {
                        padding: 0;
                        &:not(:has(.fenext-collapse-header-checkbox:checked)) {
                            scale: 0;
                            position: fixed;
                        }
                    }
                }
                &-td {
                    border: 0;
                    white-space: normal;
                    padding: 0.5rem 0;
                    display: grid;
                    grid-template-columns: 1fr 2fr;
                    gap: 0.5rem;
                    align-items: center;
                    width: 100%;
                    border-radius: 0.5rem;
                    &:nth-child(2n) {
                        background-color: var(--fenext-color-light);
                        border-radius: 0.5rem;
                    }
                    &::before {
                        content: var(--fenext-table-head-th) ": ";
                        font-weight: 700;
                    }
                    &:has(.fenext-input-checkbox) {
                        display: none;
                    }
                    &-label-collapse {
                        padding: 0;
                    }
                    &-is-collapse {
                        grid-template-columns: 1fr;
                        padding: 1rem;
                        .fenext-collapse-body {
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
}

@media not print {
    @media (max-width: 991px) {
        @include fenext-table-view-box;
    }
}
