.fenext-steps-circle {
    --size-circle: 3rem;

    --color: var(--fenext-color-dark);
    --bg: var(--fenext-color-light);

    --color-hover: var(--fenext-color-light);
    --bg-hover: var(--fenext-color-dark);

    --color-active: var(--fenext-color-light);
    --bg-active: var(--fenext-color-primary);

    display: grid;
    align-items: flex-start;
    gap: 1rem;
    justify-content: space-between;

    position: relative;

    grid-template-columns: repeat(var(--nItems), 1fr);

    --progess: calc(calc(100% / calc(var(--nItems) - 1)) * var(--step));

    .fenext-progess-line {
        width: calc(100% * calc(var(--nItems) - 1) / var(--nItems));
        position: absolute;
        top: calc(var(--size-circle) / 2);
        left: 0;
        right: 0;
        margin: auto;
        transform: translateY(-50%);
    }

    &-item {
        display: grid;
        justify-content: center;
        justify-items: center;
        align-items: flex-start;
        gap: 0.5rem;
        text-align: center;
        cursor: pointer;
        position: relative;
        &-circle {
            width: var(--size-circle);
            aspect-ratio: 1/1;
            border-radius: 100%;
            font-family: var(--fenext-font-global);
            line-height: 1;
            font-size: 1.5rem;
            font-weight: 800;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--color);
            background: var(--bg);
            transition: 0.5s;
            &:hover {
                color: var(--color-hover);
                background: var(--bg-hover);
            }
        }
        &-active {
            --color: var(--color-active);
            --bg: var(--bg-active);
        }
        &-content {
            font-family: var(--fenext-font-global);
            font-size: 1rem;
            font-weight: 500;
            color: var(--fenext-color-dark);
        }
    }
}
