:root {
    --fenext-copy-color: var(--fenext-color-dark);
    --fenext-copy-font-family: var(--fenext-font-global);
    --fenext-copy-cursor: pointer;
}
.fenext-copy {
    color: var(--fenext-copy-color);
    font-family: var(--fenext-copy-font-family);
    cursor: var(--fenext-copy-cursor);
}
