:root {
    --fenext-btn-padding: 1rem 1.5rem;
    --fenext-btn-extra-small-padding: 0.5rem 0.9rem;
    --fenext-btn-small-padding: 0.75rem 1.2rem;
    --fenext-btn-normal-padding: 1rem 1.5rem;
    --fenext-btn-strong-padding: 1.2rem 1.7rem;
    --fenext-btn-extra-strong-padding: 1.3rem 2rem;

    --fenext-btn-font-size: 1rem;
    --fenext-btn-extra-small-font-size: 0.7rem;
    --fenext-btn-small-font-size: 0.8rem;
    --fenext-btn-normal-font-size: 1rem;
    --fenext-btn-strong-font-size: 1.2rem;
    --fenext-btn-extra-strong-font-size: 1.4rem;

    --fenext-btn-font-weight: 900;
    --fenext-btn-line-height: 1;
    --fenext-btn-text-align: center;

    --fenext-btn-background: var(--fenext-color-primary);
    --fenext-btn-background-hover: var(--fenext-color-secondary);
    --fenext-btn-background-invert: var(--fenext-color-secondary);
    --fenext-btn-background-invert-hover: var(--fenext-color-primary);
    --fenext-btn-background-disabled: var(--fenext-color-disabled);

    --fenext-btn-color: var(--fenext-color-theme-light-light);
    --fenext-btn-color-loader: transparent;

    --fenext-btn-border-radius: 0.5rem;
    --fenext-btn-border: 0;

    --fenext-btn-width: auto;
    --fenext-btn-full-width: 100%;

    --fenext-btn-cursor: pointer;
    --fenext-btn-display: inline-flex;
    --fenext-btn-align-items: center;
    --fenext-btn-justify-content: center;
    --fenext-btn-gap:.5rem;
    --fenext-btn-position: relative;


    --fenext-btn-icon-justify-content: start;

    --fenext-btn-content-loader-position: absolute;
    --fenext-btn-content-loader-inset: 0;
    --fenext-btn-content-loader-margin: auto;
    --fenext-btn-content-loader-display: grid;
    --fenext-btn-content-loader-place-content: center;

    --fenext-btn-loader-max-height: 90%;
    --fenext-btn-loader-height: 1.5rem;
    --fenext-btn-loader-width: auto;
    --fenext-btn-loader-color: var(--fenext-color-light);


    --fenext-btn-fenext-svg: 1em;
}

.fenext-btn {
    $class_: &;
    color: var(--fenext-btn-color);
    background: var(--fenext-btn-background);
    padding: var(--fenext-btn-padding);
    border-radius: var(--fenext-btn-border-radius);
    border: var(--fenext-btn-border);
    font-family: var(--fenext-font-global);
    font-size: var(--fenext-btn-font-size);
    font-weight: var(--fenext-btn-font-weight);
    line-height: var(--fenext-btn-line-height);
    text-align: var(--fenext-btn-text-align);
    width: var(--fenext-btn-width);
    cursor: var(--fenext-btn-cursor);
    display: var(--fenext-btn-display);
    position: var(--fenext-btn-position);
    align-items: var(--fenext-btn-align-items);
    justify-content: var(--fenext-btn-justify-content);
    gap: var(--fenext-btn-gap);
    &:hover {
        --fenext-btn-background: var(--fenext-btn-background-hover);
    }
    &-invert {
        --fenext-btn-background: var(--fenext-btn-background-invert);
        --fenext-btn-background-hover: var(
            --fenext-btn-background-invert-hover
        );
    }
    &-icon{
        --fenext-btn-justify-content : var(--fenext-btn-icon-justify-content);
        .fenext_svg {
            @at-root #{$class_} :where(&) {
                width: var(--fenext-btn-fenext-svg);
            }
        }
    }
    &-disabled {
        --fenext-btn-background: var(--fenext-btn-background-disabled);
    }
    &-size {
        &-extra-small {
            --fenext-btn-padding: var(--fenext-btn-extra-small-padding);
            --fenext-btn-font-size: var(--fenext-btn-extra-small-font-size);
            --fenext-btn-loader-max-height: 70%;
        }
        &-small {
            --fenext-btn-padding: var(--fenext-btn-small-padding);
            --fenext-btn-font-size: var(--fenext-btn-small-font-size);
            --fenext-btn-loader-max-height: 80%;
        }
        &-normal {
            --fenext-btn-padding: var(--fenext-btn-normal-padding);
            --fenext-btn-font-size: var(--fenext-btn-normal-font-size);
        }
        &-strong {
            --fenext-btn-padding: var(--fenext-btn-strong-padding);
            --fenext-btn-font-size: var(--fenext-btn-strong-font-size);
        }
        &-extra-strong {
            --fenext-btn-padding: var(--fenext-btn-extra-strong-padding);
            --fenext-btn-font-size: var(--fenext-btn-extra-strong-font-size);
        }
        &-full {
            --fenext-btn-width: var(--fenext-btn-full-width);
        }
    }

    &-content-loader-element {
        position: var(--fenext-btn-content-loader-position);
        inset: var(--fenext-btn-content-loader-inset);
        margin: var(--fenext-btn-content-loader-margin);
        display: var(--fenext-btn-content-loader-display);
        place-content: var(--fenext-btn-content-loader-place-content);
    }
    &-loader-element {
        max-height: var(--fenext-btn-loader-max-height);
        height: var(--fenext-btn-loader-height);
        width: var(--fenext-btn-loader-width);
        color: var(--fenext-btn-loader-color);
    }
    &-loader {
        --fenext-btn-color: var(--fenext-btn-color-loader);
        > *:not(.fenext-btn-content-loader-element) {
            @at-root #{$class_} :where(&) {
                opacity: 0;
            }
        }
    }
}
