.fenext-chat-message {
    padding: 1rem 1.25rem;
    border-radius: 1.5rem;
    background: var(--fenext-color-light);
    width: fit-content;
    min-width: min(45%, 30rem);
    max-width: 85%;
    display: grid;
    gap: 1rem;
    --size-img: 4rem;
    grid-template-columns: var(--size-img) 1fr;
    align-items: flex-start;
    @media (max-width: 575px) {
        border-radius: 1rem;
        padding: 0.75rem;
        gap: 0.5rem;
    }
    &-viewed {
        box-shadow: inset 0 0 0 3px var(--fenext-color-primary);
    }
    &-info {
        display: grid;
        gap: 0.5rem;
    }
    &-img {
        width: var(--size-img);
        .fenext-loader-line {
            border-radius: 100%;
        }
        .fenext-img {
            border-radius: 100%;
            aspect-ratio: 1/1;
            width: 100%;
            border: 3px solid var(--fenext-color-primary);
        }
    }
    &-right {
        margin-left: auto;
        // grid-template-columns:  1fr 4rem;
        // .StyledMessage-img{
        //     order: 2;
        // }
        .fenext-chat-message-img {
            .fenext-img {
                border: 3px solid var(--fenext-color-primary);
            }
        }
    }
    &-top {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 1rem;
    }
    &-name {
        &.fenext-text {
            font-weight: 900;
        }
    }
    &-createdAt {
        min-width: 5rem;
        &.fenext-text {
            font-weight: 300;
            font-size: 0.75rem;
        }
    }
    &-message {
        &.fenext-text {
            font-weight: 400;
            font-size: 1rem;
        }
    }
    &-file {
        display: flex;
        .fenext-input-upload {
            max-width: 250px;
            &-up {
                justify-items: flex-start;
                padding: 0.5rem;
                gap: 0.1rem;
                .fenext-collapse-header {
                    text-align: left;
                    font-size: 0.8rem;
                    padding: 0.5rem 0;
                }
            }
            &-title {
                font-size: 1rem;
                white-space: nowrap;
            }
            &-preview {
                min-height: 0;
            }
        }
    }
}
