.fenext-input-phone {
    display: grid;
    grid-template-columns: min(7rem, 30%) 1fr;
    column-gap: 0.5rem;
    &-label {
        grid-column: 1/-1;
    }
    &-code {
        .fenext-select:has(.fenext-select-option-selected-img)
            .fenext-input-content-input {
            padding-left: 3rem;
        }
        .fenext-input-content-input {
            padding-inline: 0.5rem;
        }
        .fenext-select-option {
            padding-inline: 0.5rem;
        }
    }
    &-text {
        .fenext-error {
            display: none;
        }
    }
    .fenext-error {
        grid-column: 1/-1;
    }
    .fenext-select-option-selected-img {
        left: 1rem;
        max-width: 1.5rem;
    }
    &-select-code {
        .fenext-select-option-img {
            max-width: 1.5rem;
        }
    }
}
