:root {
    --fenext-alert-width: 100%;
    --fenext-alert-grid-column: 1/-1;
    --fenext-alert-display: grid;
    --fenext-alert-grid-template-columns: 1fr auto;
    --fenext-alert-gap: 1rem;
    --fenext-alert-align-items: center;
    --fenext-alert-padding: 0.5rem 1rem;
    --fenext-alert-font-family: var(--fenext-font-global);
    --fenext-alert-font-size: 1rem;
    --fenext-alert-font-weight: 500;
    --fenext-alert-line-height: 1;

    --fenext-alert-color: var(--fenext-color-dark);
    --fenext-alert-background: var(--fenext-color-light);
    --fenext-alert-inactive-display: none;

    --fenext-alert-close-display: flex;
    --fenext-alert-close-align-items: center;
    --fenext-alert-close-justify-content: center;
    --fenext-alert-close-width: 1.5rem;
    --fenext-alert-close-aspect-ratio: 1/1;
    --fenext-alert-close-padding: 0 0.4rem;
    --fenext-alert-close-border-radius: 100%;
    --fenext-alert-close-cursor: pointer;
    --fenext-alert-close-background: var(--fenext-color-danger);
    --fenext-alert-close-color: var(--fenext-color-light);
    --fenext-alert-close-transition: 0.5s;
    --fenext-alert-close-hover-scale: 0.8;
    --fenext-alert-close-svg-width: 100%;
}

.fenext-alert {
    width: var(--fenext-alert-width);
    grid-column: var(--fenext-alert-grid-column);
    display: var(--fenext-alert-display);
    grid-template-columns: var(--fenext-alert-grid-template-columns);
    gap: var(--fenext-alert-gap);
    align-items: var(--fenext-alert-align-items);
    padding: var(--fenext-alert-padding);
    font-family: var(--fenext-alert-font-family);
    font-size: var(--fenext-alert-font-size);
    font-weight: var(--fenext-alert-font-weight);
    line-height: var(--fenext-alert-line-height);

    color: var(--fenext-alert-color);
    background: var(--fenext-alert-background);

    &-inactive {
        --fenext-alert-display: var(--fenext-alert-inactive-display);
    }
    &-content {
        color: currentColor;
    }
    &-close {
        display: var(--fenext-alert-close-display);
        align-items: var(--fenext-alert-close-align-items);
        justify-content: var(--fenext-alert-close-justify-content);
        width: var(--fenext-alert-close-width);
        aspect-ratio: var(--fenext-alert-close-aspect-ratio);
        padding: var(--fenext-alert-close-padding);
        border-radius: var(--fenext-alert-close-border-radius);
        cursor: var(--fenext-alert-close-cursor);
        background: var(--fenext-color-danger);
        color: var(--fenext-color-light);
        transition: var(--fenext-alert-close-transition);
        &:hover {
            scale: var(--fenext-alert-close-hover-scale);
        }
        svg {
            width: var(--fenext-alert-close-svg-width);
        }
    }
    &-OK {
        --fenext-alert-color: var(--fenext-color-light);
        --fenext-alert-background: var(--fenext-color-success);
    }
    &-ERROR {
        --fenext-alert-color: var(--fenext-color-light);
        --fenext-alert-background: var(--fenext-color-danger);
    }
    &-NORMAL {
        --fenext-alert-color: var(--fenext-color-dark);
        --fenext-alert-background: var(--fenext-color-light);
    }
    &-WARNING {
        --fenext-alert-color: var(--fenext-color-theme-light-dark);
        --fenext-alert-background: var(--fenext-color-warning);
    }
}
