:root {
    --fenext-alert-width: 100%;
    --fenext-alert-grid-column: 1/-1;
    --fenext-alert-display: grid;
    --fenext-alert-grid-template-columns: 1fr auto;
    --fenext-alert-gap: 1rem;
    --fenext-alert-align-items: center;
    --fenext-alert-padding: 0.5rem 1rem;
    --fenext-alert-font-family: var(--fenext-font-global);
    --fenext-alert-font-size: 1rem;
    --fenext-alert-font-weight: 500;
    --fenext-alert-line-height: 1;

    --fenext-alert-color: var(--fenext-color-dark);
    --fenext-alert-background: var(--fenext-color-light);
    --fenext-alert-inactive-display: none;

    --fenext-alert-close-display: flex;
}

.fenext-alert {
    width: var(--fenext-alert-width);
    grid-column: var(--fenext-alert-grid-column);
    display: var(--fenext-alert-display);
    grid-template-columns: var(--fenext-alert-grid-template-columns);
    gap: var(--fenext-alert-gap);
    align-items: var(--fenext-alert-align-items);
    padding: var(--fenext-alert-padding);
    font-family: var(--fenext-alert-font-family);
    font-size: var(--fenext-alert-font-size);
    font-weight: var(--fenext-alert-font-weight);
    line-height: var(--fenext-alert-line-height);

    color: var(--fenext-alert-color);
    background: var(--fenext-alert-background);

    &-inactive {
        --fenext-alert-display: var(--fenext-alert-inactive-display);
    }
    &-content {
        color: currentColor;
    }
    &-close {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.5rem;
        aspect-ratio: 1/1;
        padding: 0 0.4rem;
        border-radius: 100%;
        cursor: pointer;
        background: var(--fenext-color-danger);
        color: var(--fenext-color-light);
        transition: 0.5s;
        &:hover {
            scale: 0.8;
        }
        svg {
            width: 100%;
        }
    }
    &-OK {
        --fenext-alert-color: var(--fenext-color-light);
        --fenext-alert-background: var(--fenext-color-success);
    }
    &-ERROR {
        --fenext-alert-color: var(--fenext-color-light);
        --fenext-alert-background: var(--fenext-color-danger);
    }
    &-NORMAL {
        --fenext-alert-color: var(--fenext-color-dark);
        --fenext-alert-background: var(--fenext-color-light);
    }
    &-WARNING {
        --fenext-alert-color: var(--fenext-color-theme-light-dark);
        --fenext-alert-background: var(--fenext-color-warning);
    }
}
