.fenext-layout-grid {
    @import "./GridMenuLeft/styles.scss";
    @import "./GridMenuTop/styles.scss";
    @import "./GridMenuTopLeft/styles.scss";
    .fenext-layout-grid-loader {
        position: absolute;
        inset: 0;
        margin: auto;
    }
}
