.fenext-swich-view {
    padding: 0.2rem 0.5rem;
    // width: fit-content;
    display: grid;
    align-items: center;
    --color-active: var(--fenext-color-blue);
    .fenext-content-radio {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(2rem, 1fr));
        align-items: center;
        gap: 1rem;
        .fenext-input-radio {
            grid-template-columns: 1fr;
            &-box {
                display: none;
            }
            &:has(.fenext-input-radio-input:checked) {
                .fenext-swich-view {
                    &-item {
                        color: var(--color-active);
                        scale: 1;
                    }
                }
            }
        }
    }
    &-item {
        display: grid;
        place-items: center;
        color: var(--fenext-color-dark);
        width: 2rem;
        transition: 0.5s;
        scale: 0.9;
        &:hover {
            scale: 1;
        }
    }
}
