.fenext-grid-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
    color: var(--fenext-color-dark);
    font-family: var(--fenext-font-global);
    @media (max-width: 575px) {
        grid-template-columns: 1fr;
    }
    &-item {
        display: grid;
        color: currentColor;
        @media (min-width: 992px) {
            &:nth-child(1) {
                grid-column: span 2;
                grid-row: span 2;
            }
        }
    }
}
